# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment directories
venv/
env/
ENV/
.venv/
.ENV/
env.bak/
venv.bak/

# TensorFlow related files
*.h5
*.pb
*.ckpt

# IDE files (e.g., PyCharm, VS Code)
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

canny.py
output.png